
.Home{

    display:flex;
    flex-direction: column;
    justify-content: space-around;
    height:800px;
}

.options{
display:flex;
flex-direction: column;
justify-content: space-around;
height:200px;
background-color:grey;
width:300px;
align-self: center;
}

.play-button{
width:200px;
align-self: center;
border:none;
padding:10px;
background-color: #fa8072;
}

.create-button{
    width:200px;
    align-self: center;
    border:none;
    padding:10px;
    background-color: #fa8072;
}